@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import '~antd/dist/antd.css';
html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Inter', sans-serif !important;
    overflow-x: hidden;
    background-color: #fff;
    font-weight: 400;
    min-height: 100%;
    letter-spacing: -0.0415625em;
    color: #000;
    font-size: 14px !important;
}

.flex {
    flex: 1 1 0% !important;
}

.container-lg {
    max-width: 1400px;
}

.main-bg {
    background-image: url(../assets/images/main-bg.png);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.08;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

a {
    color: #91c955;
}

.pointer {
    cursor: pointer !important;
}

/**=========================================================================**/

.header {
    border-bottom: 0px solid #ccc;
    position: absolute;
}

.header.shadow {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.09);
    background: #fff;
}

.header.shadow .navbar-brand {
    opacity: 1;
}

.header .navbar-brand {
    margin-right: 50px;
    /* opacity: 0; */
}

.header .navbar-brand img {
    height: 60px;
}

.header .navbar-toggler {
    background: #000;
    border-radius: 0;
    color: #fff;
    height: 40px;
    outline: 0;
}

.header .navbar-nav .nav-link {
    padding: 7px 0;
    margin: 0 10px;
    /* font-weight: 500; */
    color: #000;
}

.header .navbar-nav .nav-item.active .nav-link {
    color: #60bb46 !important;
    border-bottom: 2px solid #91c955;
    box-sizing: border-box;
}

.header .navbar-nav .btn-info {
    padding-left: 20px;
    padding-right: 20px;
    min-width: auto;
}

.header .navbar-nav .btn-login {
    min-width: auto;
}

.header .navbar-nav .btn-reporting {
    min-width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}

.header .site-user {
    font-weight: inherit;
}

.header .site-user b {
    font-weight: 400;
    color: #60bb46;
}

.header .left-menu {
    /* border: 1px solid #ccc; */
}

.header .right-menu {
    border: 0px solid #60bb46;
}

/**=========================================================================**/

.btn {
    border-radius: 50px;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 100px;
}

.btn-wide {
    min-width: 140px;
}

.btn-primary {
    color: #fff;
    background-color: #91c955;
    border-color: #91c955;
    box-shadow: 0 5px 15px rgb(0 0 0 / 15%);
}

.btn-primary:hover {
    background-color: #60bb46;
    border-color: #60bb46;
}

.btn-secondary {
    color: #fff !important;
    background-color: #000;
    border-color: #000;
}

.btn-secondary:hover {
    background-color: #656565;
    border-color: #656565;
}

.btn-secondary-outline {
    color: #656565;
    border: 1px solid #ccc;
    background: #fff;
}

.btn-secondary-outline:hover {
    color: #656565;
    border: 1px solid #656565;
    background-color: #fff;
}

.btn-info {
    color: #fff !important;
    background-color: #000;
    border-color: #000;
}

.btn-info:hover {
    background-color: #444;
}

.btn-danger {
    color: #fff;
    background-color: #d90022;
    border-color: #d90022;
}

.btn-danger:hover {
    color: #fff;
    background-color: #d90022;
    border-color: #d90022;
}

.btn-danger-outline {
    color: #d90022;
    border: 1px solid #d90022;
    background: #fff;
}

.btn-danger-outline:hover {
    color: #ff0026;
    border: 1px solid #ff0026;
    background: #fff;
}

/**=========================================================================**/

.page {
    padding-top: 140px;
    padding-bottom: 50px;
}

/**=========================================================================**/

.main-title {
    padding: 0;
    font-size: 48px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 15px;
    color: #60bb46;
}

.sub-title {
    padding: 0;
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
}

.info-text {
    text-align: center;
    color: #656565;
    font-size: 18px;
}

/**=========================================================================**/

.login-page {
    display: flex;
    flex-direction: row-reverse;
}

.login-section {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding: 68px 0;
    background-color: #fff;
    padding-top: 100px;
}

.login-section .wrapper {
    max-width: 340px;
    margin: auto;
}

.login-bg {
    background-size: cover;
}

.login-image-section {
    position: relative;
}

.login-image-section .login-img {
    width: 100%;
    height: 100vh;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: left;
    object-position: left;
}

.login-image-section .wrapper {
    position: absolute;
    top: 0;
    color: #fff;
    right: 0;
    left: 0;
    bottom: 0;
    display: table;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.login-image-section .content {
    display: table-cell;
    vertical-align: middle;
    padding: 100px;
    width: 100%;
}

.login-image-section .content h2 {
    font-weight: 200;
    font-size: 36px;
    margin-bottom: 30px;
    color: rgb(255, 255, 255, 1);
}

.login-image-section .content h3 {
    font-weight: 600;
    display: block;
    font-size: 55px;
    color: rgb(255, 255, 255, 1);
}

.login-image-section .content p {
    font-weight: 200;
    font-size: 20px;
}

.login-image-section .content .logo {
    max-height: 90px;
    max-width: 100%;
    margin-left: 20px;
}

/**=========================================================================**/

.form-group {
    box-shadow: none;
}

.form-group label {
    font-size: 13px;
    color: #b2a6a6;
    font-weight: 400;
    margin-bottom: 5px;
}

.form-control {
    background: #ffffff;
    box-shadow: none;
    color: #000;
    transition: all 0.5s;
    height: auto !important;
}

.form-control::-webkit-input-placeholder {
    color: #b0adad;
}

.form-control::-moz-placeholder {
    color: #b0adad;
}

.form-control:-ms-input-placeholder {
    color: #b0adad;
}

.form-control::-ms-input-placeholder {
    color: #b0adad;
}

.form-control::placeholder {
    color: #b0adad;
}

select.form-control {
    background-image: url(../assets/images/select-arrow.png);
    display: inline-block;
    position: relative;
    background-position: right;
    background-repeat: no-repeat;
    appearance: none;
    background-size: 30px;
    min-width: 200px;
    padding-right: 40px;
}

.form-file {
    max-width: 340px;
    margin: auto;
    text-align: left;
}

.form-file .custom-file-label::after {
    position: absolute;
    top: 1px;
    bottom: 1px;
    height: 34px;
    border: 0;
    right: 1px;
    padding-left: 15px;
    border-radius: 0;
    padding-right: 15px;
}

.form-file .custom-file-label {
    height: 38px;
    border: 1px solid #ccc;
    line-height: 26px;
}

/**=========================================================================**/

.alert {
    background: none;
    padding: 0;
    border: 0;
    margin: 0;
    margin-bottom: 30px;
}

.alert-danger {
    color: #d90022;
}

.alert-success {
    color: #4db57e;
}

.alert .message-icon {
    margin-bottom: 10px;
    text-align: center;
}

.alert .message-icon img {
    max-width: 36px;
    opacity: 0.4;
}

/**=========================================================================**/

.site-title {
    color: #555;
    background: #fff;
    border: 2px solid #ccc;
}

.site-title b {
    font-weight: 400;
    color: #000;
}

.site-title img {
    max-height: 20px;
    opacity: 0.2;
}

/**=========================================================================**/

.buttons {
    margin-top: 80px;
    text-align: center;
    padding-bottom: 30px;
}

.buttons .btn {
    margin-left: 5px;
    margin-right: 5px;
}

/**=========================================================================**/

.car-details {
}

.car-details .card {
    padding: 5px 15px;
    border: 1px solid #ccc;
    overflow: hidden;
    border-radius: 0.25rem;
    margin-bottom: 25px;
}

.car-details .card-header {
    color: #fff;
    border-radius: 0;
    border-bottom: 0;
    background-color: #555;
    padding: 10px 15px;
}

.car-details .card-body {
    padding: 0;
}

.car-details .table {
    margin-bottom: 0;
    border: 0px solid #4db57e;
}

.car-details td .name {
    font-weight: 400;
    color: #656565;
    margin: 0;
}

.car-details th {
    color: #000;
    padding: 10px 0 !important;
}

.car-details th,
.car-details td {
    border-top: 0;
    border-bottom: 1px solid #eee;
    width: 50%;
    padding: 5px 0;
    text-align: left;
    vertical-align: middle !important;
}

.car-details tr:last-child th,
.car-details tr:last-child td {
    border-bottom: aliceblue;
}

.car-details .options-buttons label {
    margin-bottom: 0;
    margin-right: 20px;
}

/**=========================================================================**/

.damage-categories {
    margin: auto;
    margin-top: 60px;
}

.damage-categories .card {
    border: 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    border: 0;
    border-radius: 15px 15px 15px 15px;
    height: 300px;
}

.damage-categories .card.active .card-body,
.damage-categories .card:hover {
    border-width: 3px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.damage-categories .card-header {
    font-weight: 600;
    color: #fff;
    border-radius: 15px 15px 0 0;
    border-bottom: 0;
    padding: 15px 0;
}

.damage-categories .card-header .value {
    border: 5px solid #979797;
    height: 60px;
    width: 60px;
    margin: auto;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    font-size: 30px;
    box-sizing: content-box;
    font-weight: 400;
    margin-top: -50px;
    background: #fff;
    color: #555;
}

.damage-categories .card-body {
    padding: 20px;
    border: 1px solid #999;
    text-align: center;
    border-top: 0;
    border-radius: 0 0 15px 15px;
    min-height: 200px !important;
}

.damage-categories .card-body h5 {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
}

.damage-categories .card-body p {
    color: #656565;
    font-weight: 400;
}

.damage-categories .category1 .card-header {
    background-color: #4db57e;
}

.damage-categories .category2 .card-header {
    background-color: #e8d000;
}

.damage-categories .category3 .card-header {
    background-color: #d90022;
}

.damage-categories .category1 .card-body {
    border-color: #4db57e;
}

.damage-categories .category2 .card-body {
    border-color: #e8d000;
}

.damage-categories .category3 .card-body {
    border-color: #d90022;
}

.damage-categories .category1 .value {
    border-color: #4db57e;
}

.damage-categories .category2 .value {
    border-color: #e8d000;
}

.damage-categories .category3 .value {
    border-color: #d90022;
}

/**=========================================================================**/

.inspection-detail {
}

.inspection-detail .qoute-text {
    padding: 0;
    font-size: 26px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
    margin-left: -31px;
}

.inspection-detail .qoute-text b {
    letter-spacing: 10px;
}

.inspection-detail .card {
    padding: 15px;
    border: 1px solid #ccc;
    overflow: hidden;
    border-radius: 0.25rem;
    margin-bottom: 0;
    margin-top: 50px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.inspection-detail .card-header {
    color: #fff;
    border-radius: 0;
    border-bottom: 0;
    background-color: #555;
    padding: 10px 15px;
}

.inspection-detail .card-body {
    padding: 0;
}

.inspection-detail .table {
    margin-bottom: 0;
    border: 0px solid #4db57e;
}

.inspection-detail td .name {
    font-weight: 400;
    color: #656565;
    margin: 0;
}

.inspection-detail th {
    color: #fff;
    padding: 10px 15px !important;
}

.inspection-detail th,
.inspection-detail td {
    border-top: 0;
    border-bottom: 1px solid #eee;
    padding: 14px 15px;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle !important;
}

.inspection-detail tr:last-child th,
.inspection-detail tr:last-child td {
    border-bottom: aliceblue;
}

.inspection-detail .options-buttons label {
    margin-bottom: 0;
    margin-right: 20px;
}

.inspection-detail .category-name {
    display: inline-block;
    border: 5px solid #000;
    height: 60px;
    width: 60px;
    margin: auto;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    font-size: 30px;
    box-sizing: content-box;
    font-weight: 600;
    background: #fff;
    color: #000;
    margin: 0 15px;
    position: relative;
    top: -5px;
}

.inspection-detail.category1 .category-name {
    border: 5px solid #4db57e;
}

.inspection-detail.category1 .table th {
    background-color: #4db57e;
}

.inspection-detail.category2 .category-name {
    border: 5px solid #e8d000;
}

.inspection-detail.category2 .table th {
    background-color: #e8d000;
}

.inspection-detail.category3 .category-name {
    border: 5px solid #d90022;
}

.inspection-detail.category3 .table th {
    background-color: #d90022;
}

/**=========================================================================**/

.action-details {
    /* margin-top: 30px; */
    margin-bottom: 50px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
}

.action-details .card {
    padding: 15px 15px;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    margin-bottom: 25px;
}

.action-details .card-header {
    color: #fff;
    border-radius: 0;
    border-bottom: 0;
    background-color: #656565;
    padding: 10px 15px;
}

.action-details .card-body {
    padding: 5px 0;
    border: 0px solid #4db57e;
    border-radius: 0;
    overflow: hidden;
}

.action-details .table {
    margin-bottom: 0;
    border: 0px solid #4db57e;
}

.action-details td .name {
    font-weight: 400;
    color: #656565;
    margin: 0;
}

.action-details th {
    color: #fff;
    padding: 10px 15px !important;
}

.action-details th,
.action-details td {
    border-top: 0;
    border-bottom: 1px solid #eee;
    width: 50%;
    padding: 5px 15px;
    text-align: left;
    vertical-align: middle !important;
    white-space: nowrap;
    min-width: 240px;
}

.action-details tr:last-child th,
.action-details tr:last-child td {
    border-bottom: aliceblue;
}

.action-details .options-buttons label {
    margin-bottom: 0;
    margin-right: 20px;
}

.action-details .form-group {
    margin-bottom: 0;
}

.action-details.box1 .card-header {
    box-shadow: none;
}

.category-title {
    background-color: #4db57e;
    padding: 20px 0;
}

.category-title .value {
    border: 3px solid #fff;
    height: 60px;
    width: 60px;
    margin: auto;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    font-size: 30px;
    box-sizing: content-box;
    font-weight: 700;
    color: #fff;
}

.category-title .name {
    text-align: center;
    line-height: 65px;
    font-size: 20px;
    color: #fff;
}

/**=========================================================================**/

.dashboard-menu3 {
    text-align: center;
    margin-top: 50px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.dashboard-menu3 .navbar-nav {
    width: 100%;
    text-align: center;
}

.dashboard-menu3 .col {
    display: block;
    flex: auto;
    max-width: 25%;
}

.dashboard-menu3 .item-link {
    font-size: 13px;
    display: block;
    margin-bottom: 30px;
    background: #117180;
    color: #4a4a4a;
    padding: 20px;
    position: relative;
    overflow: hidden;
    border-radius: 0;
}

.dashboard-menu3 .item-link i {
    display: inline-block;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 50px;
    background: #fff;
}

.dashboard-menu3 .item-link i img {
    height: 40px;
}

.dashboard-menu3 .item-link .name {
    display: block;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
}

/**=========================================================================**/

.reports-table {
    box-shadow: none;
}

.reports-table .filters {
    margin-top: 0;
    padding: 0;
    margin-bottom: 15px;
    background: #ffffff;
    border-radius: 0;
    overflow: hidden;
}

.reports-table .filters .card-body {
    border: 1px solid #ccc;
    border-radius: 0;
    background: #ffffff;
}

.reports-table .filters .form-control {
    box-shadow: none;
    min-width: inherit;
}

.reports-table .filters .cola {
    box-shadow: none;
    /* width: 15%; */
}

.reports-table .filters .btn-go {
    padding: 0 15px;
    background: #60bb46;
    color: #fff;
    border: 0 !important;
    cursor: pointer;
}

.reports-table .filters .form-group {
    margin-bottom: 0;
}

.reports-table .export-buttons {
    margin-bottom: 15px;
}

.table-style1 {
    margin: 0;
}

.table-style1 .table {
    margin-bottom: 0;
    border: 0px solid #4db57e;
}

.table-style1 td .name {
    font-weight: 400;
    color: #787878;
    margin: 0;
}

.table-style1 th {
    padding: 10px 15px !important;
    font-size: 13px;
    background: #dddddd;
    color: #000000;
    border-bottom: 0 !important;
    border-bottom: 2px solid #ffffff !important;
}

.table-style1 th,
.table-style1 td {
    border-top: 0;
    border-bottom: 1px solid #eee;
    text-align: left;
    vertical-align: middle !important;
    padding: 7px 15px;
    white-space: nowrap;
}

.table-style1 tr:last-child th,
.table-style1 tr:last-child td {
    box-shadow: none;
}

.table-style1.options-buttons label {
    margin-bottom: 0;
    margin-right: 20px;
}

.table-style1 .category-name {
    display: inline-block;
    border: 3px solid #4db57e;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 50%;
    box-sizing: content-box;
    font-weight: 600;
    color: #000;
    position: relative;
}

.table-style1 .category1 {
    border-color: #4db57e;
}

.table-style1 .category2 {
    border-color: #e8d000;
}

.table-style1 .category3 {
    border-color: #d90022;
}

.table-style1 .yes {
    color: #d90022;
}

/**==== Responsive =====================================================================**/

@media (max-width: 1366px) {
    .header .navbar-brand {
        margin-right: 10px;
    }
}

@media (max-width: 991px) {
    .header .navbar-brand {
        margin-right: 10px;
    }
    .login-header {
        position: relative;
        margin-bottom: 0;
    }
    .header .left-menu {
        margin-bottom: 0;
        background: #e6e6e6;
        padding: 15px;
    }
    .header .right-menu {
        text-align: center;
        background: #eee;
        border: 0;
        padding: 15px;
        border-top: 0px solid #656565;
    }
    .header .right-menu .site-user {
        margin-bottom: 10px;
    }
    .header .navbar-nav .btn-login,
    .header .navbar-nav .btn-reporting {
        display: inline-block;
    }
    .login-section {
        padding: 50px;
    }
    .login-image-section .content h2 {
        font-size: 30px;
    }
    .login-image-section .content .logo {
        max-height: 60px;
    }
    .login-image-section .content h3 {
        font-size: 30px;
    }
    .reports-table .filters .cola {
        width: 50%;
        flex-basis: auto;
        margin-bottom: 15px;
    }
    .login-image-section .login-img {
        max-height: 400px;
    }
    .login-image-section .content {
        padding: 50px;
    }
    .main-title {
        font-size: 30px;
    }
    .sub-title {
        font-size: 24px;
    }
}

@media (max-width: 640px) {
    .login-section {
        /* padding-top: 20px; */
        /* padding-bottom: 20px; */
        min-height: 100%;
    }
    .login-section .wrapper {
        width: 100%;
    }
    .damage-categories .card {
        margin-bottom: 80px;
    }
    .damage-categories .card.category3 {
        margin-bottom: 0;
    }
    .dashboard-menu3 .menu-item {
        width: 50%;
    }
    .reports-table .filters .btn-go {
        min-height: 40px;
    }
    .buttons .btn {
        margin-bottom: 10px;
    }
}

/* Developer CSS */

.ant-btn.btn {
    border-radius: 50px;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 100px;
}

.ant-btn.btn-wide {
    min-width: 140px;
}

.ant-btn.btn-primary {
    color: #fff;
    background-color: #91c955;
    border-color: #91c955;
    box-shadow: 0 5px 15px rgb(0 0 0 / 15%);
}

.ant-btn.btn-primary:hover,
.ant-btn.btn-primary:focus {
    background-color: #60bb46;
    border-color: #60bb46;
    color: #fff;
}

.ant-btn.btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    height: 50px;
}

.inspection-detail .card-pdf {
    padding: 15px;
    border: 1px solid #ccc;
    overflow: hidden;
    border-radius: 0.25rem;
    margin-bottom: 0;
    margin-top: 50px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    overflow-x: auto;
}

.inspection-detail .card-header-pdf {
    color: #fff;
    border-radius: 0;
    border-bottom: 0;
    background-color: #555;
    padding: 10px 15px;
}

.inspection-detail .card-body-pdf {
    padding: 0;
}

.inspection-detail-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-border {
    border-bottom: 0 !important;
}

.color-red {
    color: red !important;
}
